body {
    /*background-image:url('/images/bamboo3.png');*/
    padding-top: 100px;
    color: black;
    font-size: 16px;
    margin: 0px auto 0px auto;
    width: 80%;
    font-family: 'Basic', sans-serif;
}

div#header {
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
    text-align: center;
}

div#logo a {
    color: black;
    font-size: 52px;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Tangerine', cursive;
}

div#navigation a {
    text-align: center;
    color: black;
    font-size: 24px;
    margin-left: 12px;
    text-decoration: none;
    font-family: 'Lobster Two', cursive;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: center;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

div.info {
    color: #777;
    font-size: 14px;
    font-style: italic;
}

#countdown {
    font-size: 72px;
    color: blue;
    text-align: center;
    font-weight: bold;
    /*font-family: 'Sonsie One', cursive;*/
}
