body {
    background-image:url('/images/bamboo3-sm.png'),url('/images/bamboo2-sm.png'),url('/images/bamboo1-sm.png');
    padding-top: 0px;
    color: black;
    font-size: 20px;
    margin: 0px auto 0px auto;
    width: 80%;
    font-family: 'Basic', sans-serif;
}

/* for the *one* table I use on the wedding site */
table {
    margin-right: auto;
    margin-left: auto;
    width: 70%;
    text-align: center;
}

td {
    padding-left: 10%;
    padding-right: 10%;
}

h1 {
    font-size: 24px;
}

h2 {
    font-size: 20px;
}

a:link {color:#2b2bad;}
a:visited {color:#2b2bad;}
a:hover {color:#4b2369;}
a:active {color:#4b2369;}

div#header {
    padding: 0px 0px 0px 0px;
    text-align: center;
}

div#logo a {
    color: black;
    font-size: 52px;
    font-weight: bold;
    text-decoration: none;
}

div#navigation {
    position: relative;
    text-align: center;
    height: 55px;
    width: 100%
    background-image:url('/images/bar.png')
}

div#bg-img {
    width: 100%;
}

div#links {
    position: absolute;
    top: 0px;
    left: 0;
    line-height: 48px;
    width: 100%;
    vertical-align: middle;
    font-weight:bold;
}

div#navigation a {
    color: #330066;
    font-size: 20px;
    margin-left: 12px;
    margin-right: 17px;
    text-decoration: none;
    font-family: 'Lobster Two', cursive;
}

div#footer {
    border-top: solid 2px black;
    color: #333;
    width: 25%;
    font-size: 12px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

div.info {
    color: #777;
    font-size: 14px;
    font-style: italic;
}

.count {
    color: white;
    text-align: center;
}

#countdown {
    font-size: 50px;
    font-family: 'Lobster Two', cursive;
}

#countdown-txt {
    font-size: 72px;
    font-family: 'Tangerine', cursive;
}

#content {
    padding: 20px;
}

.strokeme {
    color: white;
    text-shadow:
    -1px -1px 0 #330066,
    1px -1px 0 #330066,
    -1px 1px 0 #330066,
    1px 1px 0 #330066;
}

.alpha60 {
    /* Fallback for web browsers that doesn't support RGBa */
    background: rgb(204, 153, 255) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(204, 153, 255, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.rounded {
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 5px;
}

.map {
    width: 70%;
    margin-left: auto ;
    margin-right: auto ;
    height:480px;
}

